VITE_APP_NAME=PetChain
VITE_API_URL=http://localhost:3000/api/v1
# En Vercel del frontend usa, por ejemplo:
# VITE_API_URL=https://tu-backend.vercel.app/api/v1
VITE_SUPABASE_URL=
VITE_SUPABASE_ANON_KEY=
